{% extends "base.html" %}

{% block content %}
<body>

<div align= "center">
<div id=box>

  <h1>Movies</h1>
<div align=center>
    <div id=box>
        <p align = "center">Please click <a href = "/list">here</a> to list all movies.</p>
        <p align = "center">Please click <a href = "/search">here</a> to edit a movie.</p>
        <p align = "center">Please click <a href = "/add">here</a> to add a movie.</p>
        <p align = "center">Please click <a href = "/edit">here</a> to edit a movie.</p>
        <p align = "center">Please click <a href = "/remove">here</a> to remove a movie.</p>
    
<br><br>

    </div>
    {% endblock %}
