<!doctype html>
<html>
    <head>
            <title>Movies</title>

            <link rel="stylesheet" href = "/static/bootstrapscr.css">

    </head>
    <body style = "background-color: rgb(174, 210, 245);">
<br><br>

<div align= "center">
        <div id=box>

<h1>Sign Up To Movies</h1>
<form action="/signup" method="post" align = "center">
    <table align = "center">
        <tr>
            <td><label for="email">Email</label></td>
            <td>
                <input name="email" type="email" value="{{ email }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Sign Up">
</form>
<br><br>
<p align = "center">Press <a href = "/login">here</a> to login.</p>
<br>
    </div>
<br><br>
</body>

</html>